{% extends "base_templates/box_base.html" %}  {# base_templates/page_base.html extends base_templates/base.html #}

{% block headerscripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.23/moment-timezone-with-data-2012-2022.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
{% block morescripts %}
{% endblock %}
{% endblock %}
